@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family:
        'Public Sans',
        'Inter',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}
.clickable-card {
    cursor: pointer;
    transition: transform 0.2s;
}
.clickable-card:hover {
    transform: translate(2px, -4px);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}
.formal-font {
    font-family: 'open-sans', 'Roboto', 'sans-serif';
    font-weight: 700;
}
